{% extends "admin/change_form.html" %}
{% load staticfiles %}


{% block extrahead %}
    {{ block.super }}
    <style>
        .tabs {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
        }
        .tabs li {
            list-style: none;
            padding: 0;
            margin: 0 0 0 4px;
        }
        .tabs__tab {
            display: block;
            padding: 10px 15px;
            background-color: #79aec8;
            color: #fff !important;
            border-radius: 4px 4px 0 0;
            box-sizing: border-box;
            text-transform: uppercase;
            line-height: 15px;
        }
        .tabs__tab:hover {
            background-color: #417690;
        }
        .tabs__tab.active {
            background-color: #417690;
            font-weight: bold;
        }
        .non-active-language {
            display: none;
        }
    </style>
    <script>
        var languages = '{{ languages|join:"," }}'.split(',');
    </script>
    <script src="{% static 'modeltranslation/js/bundle.js' %}"></script>
{% endblock extrahead %}


{% block content %}
<ul class="tabs">
    {% for language in languages %}
        <li class="">
            <a class="tabs__tab" href="#{{ language }}" data-lang="{{ language }}">{{ language }}</a>
        </li>
    {% endfor %}
</ul>
{{ block.super }}
{% endblock %}
